{% extends "template.html" %}

{% block table %}
<table>
    <caption>{{ cup_name }} Cup</caption>
    {% if cup_type == "new_cup" %}
        <thead>
            <tr>
                <th class="table-header-new">No.</th>
                <th class="table-header-new">Track</th>
                <th class="table-header-new">Original Cup</th>
            </tr>
        </thead>
        {% for cell in table %}
        <tr>
            <td>{{ cell.CupTrack.track_order }}</td>
            <td>{{ cell.Track.name }}</td>
            <td>{{ cell.Cup_alias.name }}</td>
        </tr>
        {% endfor %}
    {% elif cup_type == "original_cup" %}
        <thead>
            <tr>
                <th class="table-header-original">No.</th>
                <th class="table-header-original">Track</th>
            </tr>
        </thead>
        {% for cell in table %}
        <tr>
            <td>{{ cell.CupTrack.track_order }}</td>
            <td>{{ cell.Track.name }}</td>
        </tr>
        {% endfor %}
    {% endif %}
</table>
{% endblock table %}
