{% extends "template.html" %}

{% block introduction %}
<section id="introduction">
    <p>
        Mario Kart 8 Deluxe for the Nintendo Switch was originally released with 12 cups consisting of 4 tracks each. In the spring of 2022, new cups and tracks began to be available via downloadable content. Currently, there are 18 cups and a total of 72 tracks. By December 2023, the final cups will be released, bringing the total to 24 cups and 96 tracks, doubling the original game.
    </p>
    <p>
        Each cup in the original game is given a name based on items and themes seen throughout Super Mario games and other Nintendo games. Certain other themes, however, can also be seen throughout the tracks themselves. These themes give their name to the newly created cups generated here: each track in the new cup fits the theme.
    </p>
    <p>
        To qualify, each new cup must have at least 4 tracks that fit the theme. Tracks can be repeated throughout other new cups. As new tracks are released through December 2023, new cups may be added, or existing ones altered.
    </p>
</section>
{% endblock introduction %}
