/*
CSS for Mario Kart 8 Deluxe Cup Generator
Author: Peter Jungers
Date: October 2022
*/


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');


/* || CSS RESET */
html, body, div, header, main, footer, section, h1, h2, h3, p, a, table, caption, thead, tbody, th, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
}


/* || GENERAL STYLES */
* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 400;
    color: #eee;
    background-color: #2d2db9;
}

a {
    text-decoration: none;
}

a:focus {
    outline-color: #2d2db9;
}

header {
    background-color: #2d2db9;
    height: 80px;
    margin: 0 5%;
    padding-top: 19px;
}

header #header-text {
    padding-left: .45em;
}

header h1 {
    font-size: 1.5em;
}

header h1 a {
    color: #eee;
}

header h2 {
    font-size: 1em;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 36px;
    line-height: 1.25em;
    margin: 0 5%;
    padding-top: 24px;
}

main h3 {
    font-size: 1em;
    padding: 0 0 0 .45em;
}

main h3.error {
    font-size: 1.25em;
    padding: 1em 0 2em .45em;
}

main p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.35em;
    padding: 0 .45em 1em;
}

main p:last-child {
    padding-bottom: 0;
}

table {
    border-collapse: collapse;
    color: #191966;
    width: 100%;
}

caption {
    color: #eee;
    font-size: 1.15em;
    font-weight: bold;
    text-align: left;
    padding: 0 0 .7em .45em;
}

th {
    text-align: left;
}

th, td {
    padding: .5em;
}

thead tr:first-of-type {
    opacity: 1;
}

tr:nth-child(even) {
    background-color: #fff;
    opacity: .75;
}

tr:nth-child(odd) {
    background-color: #fff;
    opacity: .5;
}

footer {
    margin: 0 0 0 5%;
    align-self: end;
}

footer a {
    color: #eee;
    font-size: .75em;
    margin-left: .45em;
}


/* || SITE CONTAINERS */
#header-container {
    background-color: #2d2db9;
    height: 80px;
}

#main-footer-container {
    background-color: #191966;
    display: grid;
    grid-template-rows: 1fr 36px;
    gap: 15px;
    padding-bottom: 36px;
}


/* || CLASSES */
/* Grid holding cup-link links */
.cups-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1;
    gap: 15px;
}

/* Targets heading within the cups-grid */
.cups-grid h3:nth-of-type(1) {
    grid-column: 1 / span 2;
    height: 1em;
}

/* Individual link box for each cup */
.cup-link {
    font-size: 1.25em;
    text-align: center;
    width: 100%;
    min-width: 130px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
}

/* New cups */
.cup-new a {
    background-color: #a31eb7;
    color: #eee;
}

.cup-new a:hover {
    background-color: #61126e;
    color: #eee;
}

/* Original cups */
.cup-original a {
    background-color: #990057;
    color: #eee;
}

.cup-original a:hover {
    background-color: #66003a;
    color: #eee;
}

/* Table header color relates to type of cup (new or original) */
.table-header-new {
    color: #eee;
    background-color: #a31eb7;
}

.table-header-original {
    color: #eee;
    background-color: #990057;
}


/* VIEWPORTS */
/* || Galaxy Fold viewport */
@media screen and (max-width: 280px) {
    table {
        min-width: 280px;
    }

    #header-text {
        min-width: 300px;
    }

    #main-footer-container {
        min-width: 310px;
    }

    .cups-grid {
        grid-template-columns: auto;
    }

    .cups-grid h3:nth-of-type(1) {
        grid-column: 1;
    }
}

/* || Tablet and desktop viewports */
@media screen and (min-width: 769px) {
    header, main, footer {
        width: 769px;
        margin: 0 auto;
    }

    #introduction {
        grid-column: 1 / span 2;
        column-count: 2;
        column-gap: 36px;
    }
}
