/*
Author: Peter Jungers
Date: October 2022
Description: CSS stylesheet for Mario Kart 8 Deluxe Cup Generator
*/


/* CSS reset */
html, body, header, main, footer, section, h2, h4, p, a, table, caption, th, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #eee;
    background-color: #2d2db9;
}

a {
    text-decoration: none;
}

header {
    background-color: #2d2db9;
    height: 80px;
    margin: 0 5%;
    padding-top: 19px;
}

header #header-text {
    padding-left: .45em;
}

header h2 a {
    color: #eee;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 36px;
    line-height: 1.25em;
    margin: 0 5%;
    padding-top: 24px;
}

main h4 {
    padding: 0 0 .75em .45em;
}

main p {
    padding: 0 .45em 1em;
}

main p:last-child {
    padding-bottom: 0;
}

table {
    border-collapse: collapse;
    color: #191966;
    width: 100%;
}

caption {
    color: #eee;
    font-size: 1.15em;
    font-weight: bold;
    text-align: left;
    padding: 0 0 .7em .45em;
}

th {
    text-align: left;
}

th, td {
    padding: .5em;
}

thead tr:first-of-type {
    opacity: 1;
}

tr:nth-child(even) {
    background-color: #fff;
    opacity: .75;
}

tr:nth-child(odd) {
    background-color: #fff;
    opacity: .5;
}

footer {
    margin: 0 0 0 5%;
    align-self: end;
}

footer a {
    color: #eee;
    font-size: .75em;
    padding-left: .45em;
}

#header-container {
    background-color: #2d2db9;
    height: 80px;
}

#main-footer-container {
    background-color: #191966;
    display: grid;
    grid-template-rows: 1fr 36px;
    gap: 15px;
    padding-bottom: 36px;
}

.cups-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1;
    gap: 15px;
}

.cups-grid h4:nth-of-type(1) {
    grid-column: 1 / span 2;
    height: 1em;
    padding: 0 0 0 .45em;
}

.cup-link {
    font-size: 1.25em;
    text-align: center;
    width: 100%;
    min-width: 130px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
}

.cup-new {
    background-color: #a31eb7;
    color: #eee;
}

.cup-original {
    background-color: #990057;
    color: #eee;
}

.table-header-new {
    color: #eee;
    background-color: #a31eb7;
}

.table-header-original {
    color: #eee;
    background-color: #990057;
}

/* Galaxy fold viewport */
@media screen and (max-width: 280px) {

    table {
        min-width: 280px;
    }

    #header-text {
        min-width: 300px;
    }

    #main-footer-container {
        min-width: 310px;
    }

    .cups-grid {
        grid-template-columns: auto;
    }

    .cups-grid h4:nth-of-type(1) {
        grid-column: 1;
    }

}

/* Tablet and desktop viewports */
@media screen and (min-width: 769px) {

    header, main, footer {
        width: 769px;
        margin: 0 auto;
    }

    #introduction {
        grid-column: 1 / span 2;
        column-count: 2;
        column-gap: 36px;
    }

}
