/*
Author: Peter Jungers
Date: October 2022
Description: CSS stylesheet for Mario Kart 8 Deluxe Cup Generator
*/


/*CSS reset*/
body, h2, h4 {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #eee;
    background-color: #2d2db9;
}

a {
    text-decoration: none;
}

/* Mobile viewport -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#container {
    background-color: #191966;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 60%;
}

header {
    background-color: #2d2db9;
}

header a {
    color: #eee;
}

#header-text {
    color: #eee;
    margin: 0 5%;
    padding: 5% 0 4%;
}

main {
    font-size: 1em;
    line-height: 1.25em;
    margin: 5%;
}

#content {
    width: 100%;
    margin-bottom: 8%;
}

/* Table rules --------------------------------------------------*/
table {
    border-collapse: collapse;
    color: #191966;
    width: 100%;
    margin-bottom: 10%;
}

caption {
    color: #eee;
    font-size: 1.15em;
    font-weight: bold;
    text-align: left;
    padding: 0 0 .75em .45em;
}

th, td {
    padding: .5em;
}

th {
    text-align: left;
    background-color: #FF8C00;
}

thead tr:first-of-type {
    opacity: 1;
}

tr:nth-child(even) {
    background-color: white;
    opacity: .75;
}

tr:nth-child(odd) {
    background-color: white;
    opacity: .5;
}

.grid {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 2% 4%;
}

.cup-links {
    font-size: 1.25em;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
}

#mushroom {
    background-color: #e60000;
    color: #eee;
}

#flower {
    background-color: #FF8C00;
    color: #eee;
}

#star {
    background-color: #ffd700;
    color: #191966;
}

#special {
    background-color: #ffcc00;
    color: #191966;
}

#shell {
    background-color: #009900;
    color: #eee;
}

#banana {
    background-color: #009900;
    color: #eee;
}

#leaf {
    background-color: #009900;
    color: #eee;
}

#lightning {
    background-color: #009900;
    color: #eee;
}

#egg {
    background-color: #009900;
    color: #eee;
}

#crossing {
    background-color: #009900;
    color: #eee;
}

#triforce {
    background-color: #009900;
    color: #eee;
}

#bell {
    background-color: #009900;
    color: #eee;
}

#golden-dash {
    background-color: #009900;
    color: #eee;
}

#lucky-cat {
    background-color: #009900;
    color: #eee;
}

#turnip {
    background-color: #009900;
    color: #eee;
}

#propeller {
    background-color: #009900;
    color: #eee;
}

#town {
    background-color: #009900;
    color: #eee;
}

#building {
    background-color: #009900;
    color: #eee;
}

#topographic {
    background-color: #009900;
    color: #eee;
}

#sky {
    background-color: #009900;
    color: #eee;
}

#city {
    background-color: #009900;
    color: #eee;
}

#castle {
    background-color: #009900;
    color: #eee;
}

#snow {
    background-color: #009900;
    color: #eee;
}

#desert {
    background-color: #009900;
    color: #eee;
}

#underwater {
    background-color: #009900;
    color: #eee;
}

#sci-fi {
    background-color: #009900;
    color: #eee;
}

#mario {
    background-color: #009900;
    color: #eee;
}

/* Large Desktop */


