/*
Author: Peter Jungers
Date: October 2022
Description: CSS stylesheet for Mario Kart 8 Deluxe Cup Generator
*/


/*CSS reset*/
html, body, header, main, footer, section, h2, h4, p, a, table, caption, th, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #eee;
    background-color: #2d2db9;
}

a {
    text-decoration: none;
}

header {
    background-color: #2d2db9;
    padding-left: .45em;
    padding-top: 19px;
    height: 80px
}

header h2 {
    color: #eee;
    margin: 0 5%;
    /*padding-top: 5%;*/
}

header h4 {
    color: #eee;
    margin: 0 5%;
    /*padding-bottom: 4%;*/
}

header a {
    color: #eee;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 36px;
    line-height: 1.25em;
    margin: 0 5%;
}

main h4 {
    padding: 0 0 .75em .45em;
}

main p {
    padding-bottom: 1em;
}

main p:last-child {
    padding-bottom: 0;
}

table {
    border-collapse: collapse;
    color: #191966;
    width: 100%;
}

caption {
    color: #eee;
    font-size: 1.15em;
    font-weight: bold;
    text-align: left;
    padding: 0 0 .7em .45em;
}

th {
    text-align: left;
}

th, td {
    padding: .5em;
}

thead tr:first-of-type {
    opacity: 1;
}

tr:nth-child(even) {
    background-color: #fff;
    opacity: .75;
}

tr:nth-child(odd) {
    background-color: #fff;
    opacity: .5;
}

footer {
    margin: 12px 0 24px 5%;
    padding-left: .45em;
}

footer a {
    color: #eee;
    font-size: .75em;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    background-color: #191966;
}

.cups-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.cups-grid h4:nth-of-type(1) {
    grid-column: 1 / span 2;
    height: 1em;
    padding: 0 0 0 .45em;
}

.cup-link {
    font-size: 1.25em;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
}

.cup-new {
    background-color: #a31eb7;
    color: #eee;
}

.cup-original {
    background-color: #990057;
    color: #eee;
}

.table-header-new {
    color: #eee;
    background-color: #a31eb7;
}

.table-header-original {
    color: #eee;
    background-color: #990057;
}

@media screen and (min-width: 1024px) {

    main {
        grid-template-columns: repeat(2, 1fr);
    }

    main section:nth-of-type(1) {
        grid-column: 1 / span 2;
    }

    .container {
        max-width: 1024px;
        margin: 0 auto;
    }

    .cups-grid {
        grid-template-rows: 1em repeat(8, 50px);
    }

}
